* {
  box-sizing: border-box;
  outline: none !important;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  font-family: $default-font;
  color: $east-bay;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  &.o-hidden {
    overflow: hidden;
  }
}

.all-pages-link {
  position: fixed;
  bottom: 76px;
  right: 16px;
  z-index: 100;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input, textarea {
  border-radius: 0;
  -webkit-appearance: none;

  @include input-placeholder {
    @include transition(.3s);
  }
}

label {
  margin: 0;
  user-select: none;
}

ul {
  list-style: none;

  li {
    font-size: 13px;
    line-height: 16px;
    color: $east-bay;
    position: relative;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 6px;
      left: -15px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: $de-york;
    }
  }
}

ol {
  li {
    font-size: 13px;
    line-height: 16px;
    color: $east-bay;
  }
}

.table-wrapper {
  border-radius: 13px;
  overflow: hidden;
  border: 2px solid $east-bay;
  max-width: 740px;

  table {
    width: 100%;
    border-collapse: collapse;

    td, th {
      font-size: 13px;
      line-height: 16px;
      padding: 10px;
    }

    td {
      &:first-child {
        font-weight: $font-bold;
      }
    }

    thead {
      background: $east-bay;
      color: $white;
    }

    tbody {
      tr {
        border-bottom: 2px solid $east-bay;
        @include transition(.3s);

        &:hover {
          background: $cream-can;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

*::-webkit-scrollbar {
  width: 4px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: $white;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: $east-bay;
  border-radius: 4px;
}

*:focus::-webkit-input-placeholder {
  opacity: 0;
}

*:focus:-moz-placeholder {
  opacity: 0;
}

*:focus::-moz-placeholder {
  opacity: 0;
}

*:focus:-ms-input-placeholder {
  opacity: 0;
}

*:focus::placeholder {
  opacity: 0;
}

main {
  flex: 1;
  margin-top: 110px;

  @include tablet {
    margin-top: 72px;
  }
}

.repeat-heading {
  display: flex;
  align-items: center;
  position: relative;

  .title {
    @include phone {
      font-size: 18px;
      line-height: 22px;
    }
  }

  img {
    @include phone {
      width: 64px;
      height: 64px;
    }
  }

  &.red-heading,
  &.green-heading,
  &.yellow-heading,
  &.dark-heading {
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 6px;
      right: calc(100% + 10px);
      width: 160px;
      height: 87px;

      @media (max-width: 1600px) {
        display: none;
      }
    }
  }

  &.red-heading {
    &:before {
      background: url("../img/heading-red.svg") no-repeat 50% 50%;
    }
  }

  &.green-heading {
    &:before {
      background: url("../img/heading-green.svg") no-repeat 50% 50%;
    }
  }

  &.yellow-heading {
    &:before {
      background: url("../img/heading-yellow.svg") no-repeat 50% 50%;
    }
  }

  &.dark-heading {
    &:before {
      background: url("../img/heading-dark.svg") no-repeat 50% 50%;
    }
  }
}

.outer-wrapper {
  padding: 75px 0;

  @include tablet {
    padding: 25px 0;
  }
}

.inner-wrapper {
  max-width: 1612px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}

.reset-position {
  position: static !important;
  top: auto !important;
  left: auto !important;
  bottom: auto !important;
  right: auto !important;
  transform: none !important;
}

.hide-mobile {
  @include phone {
    display: none !important;
  }
}

.show-mobile {
  display: none;

  @include phone {
    display: block !important;
  }
}

// Custom dividers
.mt-8 {
  margin-top: 8px;
}
.mr-8 {
  margin-right: 8px;
}
.mb-8 {
  margin-bottom: 8px;
}
.ml-8 {
  margin-left: 8px;
}

.mt-16 {
  margin-top: 16px;
}
.mr-16 {
  margin-right: 16px;
}
.mb-16 {
  margin-bottom: 16px;
}
.ml-16 {
  margin-left: 16px;
}

.mt-20 {
  margin-top: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-20 {
  margin-left: 20px;
}

.mt-25 {
  margin-top: 25px;
}
.mr-25 {
  margin-right: 25px;
}
.mb-25 {
  margin-bottom: 25px;
}
.ml-25 {
  margin-left: 25px;
}

.mt-32 {
  margin-top: 32px;
}
.mr-32 {
  margin-right: 32px;
}
.mb-32 {
  margin-bottom: 32px;
}
.ml-32 {
  margin-left: 32px;
}

.mt-40 {
  margin-top: 40px;
}
.mr-40 {
  margin-right: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
.ml-40 {
  margin-left: 40px;
}

.mt-40 {
  margin-top: 40px;
}
.mr-40 {
  margin-right: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
.ml-40 {
  margin-left: 40px;
}

.mt-50 {
  margin-top: 50px;
}
.mr-50 {
  margin-right: 50px;
}
.mb-50 {
  margin-bottom: 50px;
}
.ml-50 {
  margin-left: 50px;
}

// Dropdown
.dropdown {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  box-shadow: $shadow;
  background: $white;
  border-radius: 8px;
  padding: 20px;
  min-width: 85px;
  opacity: 0;
  visibility: hidden;
  @include transition(.4s);

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .dropdown-item {
    display: block;
    margin-bottom: 16px;
    text-transform: uppercase;
    @extend .title;
    @extend .title.is-4;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Buttons styles
.btn {
  display: inline-block;
  border: none;
  font-size: 13px;
  line-height: 16px;
  font-weight: $font-bold;
  color: $white;
  background: $east-bay;
  text-align: center;
  border-radius: 8px;
  padding: 19px 20px;
  cursor: pointer;
  will-change: transform;
  @include transition(.3s);

  &:active {
    transform: scale(.98);
  }
  
  &:hover {
    background: $east-bay-hover;
    color: $white;
  }

  .mdi, img {
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    font-size: 22px;
    line-height: 15px;
    margin: -2px 10px 0 0;
  }

  &.btn-sm {
    padding: 8px;

    img {
      margin-right: 0;
    }
  }

  &.btn-primary {
    background: $burnt-sienna;

    &:hover {
      background: $burnt-sienna-hover;
    }
  }

  &.btn-green {
    background: $de-york;

    &:hover {
      background: $de-york-hover;
    }
  }

  &.stretched {
    width: 100%;
    min-width: initial;
  }

  &.btn-white {
    background: $white;
    color: $east-bay;

    &:hover {
      background: $white-hover;
    }
  }

  &.btn-white-border {
    border: 3px solid $white;
  }
}

// Select
.select-wrapper {
  position: relative;
  cursor: pointer;
  user-select: none;

  &.dropdown-top {
    .selectric-wrapper {
      .selectric-items {
        top: auto;
        bottom: calc(100% + 10px);
      }
    }
  }

  .mdi {
    position: absolute;
    top: -1px;
    right: 0;
    color: $burnt-sienna;
    font-size: 20px;
    line-height: 20px;
    pointer-events: none;
    @include transition(.3s);
  }

  .selectric-wrapper {
    &.selectric-open {
      + .mdi {
        transform: rotate(180deg);
      }
    }

    .selectric {
      background: none;
      border: none;

      .label {
        font-size: 13px;
        line-height: 16px;
        font-weight: $font-bold;
        color: $east-bay;
        height: auto;
        margin: 0 25px 0 0;
        text-align: right;
      }

      .button {
        display: none;
      }
    }

    .selectric-items {
      box-shadow: $shadow;
      background: $white;
      border-radius: 8px;
      min-width: 85px;
      border: none;
      padding: 10px 0;
      top: calc(100% + 10px);

      li {
        background: none;
        font-size: 18px;
        line-height: 22px;
        font-weight: $font-bold;
        color: $east-bay;

        &.selected {
          color: $burnt-sienna;
        }
      }
    }
  }
}

.sort-select-wrapper {
  .selectric-wrapper {
    .selectric {
      padding: 20px 16px;
      border: 2px solid $east-bay;
      margin-bottom: 20px;
      border-radius: 13px;

      .label {
        text-align: left;
      }
    }
  }

  .mdi {
    top: 21px;
    right: 16px;
  }
}

// Checkbox
.checkbox-wrapper {
  &.checkbox-green {
    /*input {
      &:checked {
        + label {
          color: $de-york;
        }
      }
    }*/

    label {
      .check-icon {
        .mdi {
          &.checked {
            color: $de-york;
          }
        }
      }
    }
  }

  input {
    display: none;

    &:checked {
      + label {
        .check-icon {
          .mdi {
            &.checked {
              opacity: 1;
              visibility: visible;
            }

            &.not-checked {
              opacity: 0;
              visibility: hidden;
            }
          }
        }

        .checkbox-close-icon {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  label {
    display: flex;
    cursor: pointer;
    position: relative;
    padding-right: 20px;
    @include transition(.3s);

    .check-icon {
      margin-right: 10px;
      width: 23px;
      height: 23px;
      position: relative;

      .mdi {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 23px;
        line-height: 23px;
        @include transition(.3s);

        &.checked {
          opacity: 0;
          visibility: hidden;
          color: $burnt-sienna;
        }
      }
    }

    p {
      margin-top: 3px;
    }
  }
}

.checkbox-close-icon {
  font-size: 20px;
  line-height: 20px;
  color: $burnt-sienna;
  position: absolute;
  top: 2px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  @include transition(.3s);
}

// Counter
.quantity-block {
  display: flex;
  align-items: center;

  .quantity-num {
    width: 60px;
    height: 40px;
    border: 2px solid $east-bay;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: $font-bold;
    color: $burnt-sienna;
    margin: 0 10px;
  }

  .quantity-arrow-minus, .quantity-arrow-plus {
    border: none;
    background: none;
    font-size: 30px;
    line-height: 32px;
    color: $east-bay;
    cursor: pointer;
  }
}

// Sliders
.hero-slider {
  .swiper-slide {
    img {
      border-radius: 13px;
    }
  }

  .swiper-pagination {
    bottom: -60px;

    .swiper-pagination-bullet {
      width: 16px;
      height: 16px;
      border: 3px solid $east-bay;
      background: none;
      opacity: 1;
      margin: 0 12px;

      &.swiper-pagination-bullet-active {
        border-color: $de-york;
        background: $de-york;
      }
    }
  }
}

// Bread crumbs
.bread-crumbs {
  margin-bottom: 30px;

  @include tablet {
    display: none;
  }

  a {
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    font-weight: $font-bold;
    text-transform: uppercase;
    margin: 0 32px 10px;
    position: relative;

    &:after {
      content: "\F0142";
      display: inline-block;
      font: normal normal normal 24px/1 "Material Design Icons";
      font-size: 20px;
      text-rendering: auto;
      line-height: 20px;
      color: $burnt-sienna;
      position: absolute;
      top: -1px;
      right: -45px;
    }

    &:last-child {
      margin-right: 0;

      &:last-child {
        &:after {
          display: none;
        }
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

// Pagination
.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include desktop {
    display: block;
    text-align: center;
  }
}

.pagination-center {
  display: block;
  justify-content: center;
  margin-top: 40px;

  @include phone {
    margin-top: 0;
  }
}

.pagination {
  display: flex;
  align-items: center;

  @include desktop {
    justify-content: center;
  }

  @include phone {
    margin-top: 30px;
  }

  a {
    display: block;
    font-size: 13px;
    line-height: 50px;
    font-weight: $font-bold;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    text-align: center;
    @include transition(.3s);

    @media (max-width: 374px) {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }

    &.active {
      color: $burnt-sienna;
    }

    &:hover {
      background: $white;
      color: $burnt-sienna;
      box-shadow: $shadow;
    }

    .mdi {
      font-size: 23px;

      @include phone {
        font-size: 18px;
      }
    }
  }
}

// Range slider
.range-slider {
  .irs-from, .irs-to {
    display: none;
  }

  .irs--flat {
    margin-bottom: 10px;

    .irs-line {
      height: 4px;
      border-radius: 8px;
      background: $cream-can;
    }

    .irs-bar {
      height: 4px;
      background: $de-york;
    }

    .irs-handle {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: $de-york;
      margin-top: -7px;

      i {
        display: none;
      }
    }
  }
}

.range-input {
  input {
    display: block;
    width: 70px;
    height: 48px;
    border: 2px solid $east-bay;
    border-radius: 13px;
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    color: $east-bay;
    font-weight: $font-bold;
  }
}