// Home page
.hero-slider-section {
  margin-bottom: 80px;

  @media (max-width: 1600px) {
    margin-bottom: 0;
  }

  @include phone {
    margin-bottom: 50px;
  }
}

.categories-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -64px;

  @media (max-width: 1500px) {
    margin: 0 -40px;
  }

  @include desktop {
    margin: 0 -20px;
  }

  @include tablet {
    margin: 0 -16px;
  }

  @include phone {
    margin: 0 -8px;
  }
}

.category-item {
  display: block;
  width: calc(16.66% - 128px);
  margin: 32px 64px;
  text-align: center;
  padding: 15px;
  border-radius: 13px;
  background: $white;
  cursor: pointer;
  @include transition(.3s);

  @media (max-width: 1500px) {
    margin: 32px 40px;
    width: calc(16.66% - 80px);
  }

  @include desktop {
    margin: 32px 20px;
    width: calc(25% - 40px);
  }

  @include tablet {
    margin: 32px 16px;
    width: calc(33.33% - 32px);
  }

  @include phone {
    margin: 8px;
    width: calc(50% - 16px);
  }

  &:hover {
    box-shadow: $shadow;
    color: $east-bay;

    .category-icon {
      img {
        &.black-icon {
          opacity: 0;
          visibility: hidden;
        }

        &.color-icon {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .category-icon {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto 8px;

    @include phone {
      width: 64px;
      height: 64px;
    }

    img {
      @include center(both);
      @include transition(.3s);

      &.color-icon {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

.medical-seeds-title {
  margin-bottom: 45px;

  @include phone {
    margin-bottom: 25px;
  }
}

.tasty-title, .effect-title {
  @include phone {
    margin: 0 !important;
  }
}

.medical-seeds-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -55px;

  @media (max-width: 1500px) {
    margin: 0 -30px;
  }

  @include desktop {
    margin: 0 -16px;
  }

  @include phone {
    margin: 0;
  }
}

.seed-card {
  width: calc(25% - 110px);
  margin: 55px;
  cursor: pointer;
  position: relative;

  @media (max-width: 1500px) {
    margin: 55px 30px;
    width: calc(25% - 60px);
  }

  @include desktop {
    margin: 32px 16px;
    width: calc(33.33% - 32px);
  }

  @include tablet {
    width: calc(50% - 32px);
  }

  @include phone {
    width: 100%;
    margin: 0 0 50px;
  }

  &.seed-card-sm {
    &:hover {
      .seed-card-main {
        &:after {
          @include desktop {
            height: 70px;
          }
        }
      }
    }
    .seed-card-like {
      width: 50px;
      height: 50px;
      top: -25px;
      right: -25px;

      @media (max-width: 1600px) {
        top: 0;
        right: 0;
      }

      img {
        height: 32px;
      }
    }

    .seed-card-main {
      height: 280px;
      margin-bottom: 32px;
      overflow: initial;

      @include phone {
        height: 160px;
      }

      &:after {
        height: 70px;
      }

      .seed-details {
        padding: 10px 32px;
        height: calc(100% - 40px);
      }

      .seed-card-bottom {
        padding: 15px;
        display: block;
        text-align: center;
        height: 70px;
        min-height: initial;

        .btn {
          position: relative;
          bottom: -10px;
        }
      }
    }

    .for-mobile {
      margin-top: 16px;
    }

    .seed-details-row {
      display: block;

      p {
        font-size: 10px;
        line-height: 12px;

        @include desktop {
          text-align: center;
        }
      }
      
      .seed-details-label {
        width: auto;
        text-align: left;
        margin-right: 0;

        @include desktop {
          text-align: center;
        }
      }
    }
  }

  &:hover {
    .seed-card-main {
      &:after {
        height: 100%;
        border-radius: 13px;

        @include desktop {
          height: 90px;
          border-radius: 0 0 13px 13px;
        }
      }

      .seed-details {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }

  .seed-card-like {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: $white;
    position: absolute;
    top: -50px;
    right: -50px;
    z-index: 12;
    box-shadow: $shadow;

    @media (max-width: 1600px) {
      width: 64px;
      height: 64px;
      top: 0;
      right: 0;
      padding: 10px;
      border-radius: 0 0 0 13px;
    }

    img {
      max-width: 100%;
      height: 40px;
      @include center(both);
    }
  }

  .seed-card-main {
    margin-bottom: 16px;
    border-radius: 13px;
    height: 370px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    @include phone {
      height: 300px;
      max-width: 300px;
      margin: 0 auto 16px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 90px;
      border-radius: 0 0 13px 13px;
      background: rgba($white, 0.01);
      backdrop-filter: blur(33px);
      will-change: height;
      @include transition(.4s);
    }

    .seed-card-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      padding: 20px;
      border-radius: 0 0 13px 13px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      min-height: 90px;

      .btn {
        padding-right: 15px;
      }
    }

    .seed-details {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 90px);
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transform: translateY(20px);
      @include transition(.4s);
    }
  }
}

.for-mobile {
  display: none;

  @include desktop {
    display: block;
    margin-top: 16px;
  }
}

.for-desktop {
  @include desktop {
    display: none !important;
  }
}

.seed-details-row {
  display: flex;
  margin-bottom: 8px;

  @include phone {
    max-width: 260px;
    margin: 0 auto 8px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .seed-details-label {
    width: 80px;
    text-align: right;
    margin-right: 10px;
  }

  .seed-details-text {
    flex: 1;
  }
}

.search-seeds-genetic {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;

  @media (max-width: 1400px) {
    margin: 0 -8px;
  }

  .see-all-link {
    width: calc(12.5% - 32px);

    @media (max-width: 1400px) {
      width: calc(14.28% - 16px);
      margin: 8px;
    }

    @include desktop {
      width: calc(16.66% - 16px);
    }

    @include tablet {
      width: calc(20% - 16px);
    }

    @include phone {
      width: calc(50% - 16px);
    }
  }

  .seed-genetic-item {
    width: calc(12.5% - 32px);
    min-height: 153px;
    border-radius: 13px;
    padding: 30px;
    border: 2px solid $east-bay;
    background: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 16px;
    cursor: pointer;
    @include transition(.3s);

    @media (max-width: 1400px) {
      width: calc(14.28% - 16px);
      margin: 8px;
    }

    @include desktop {
      width: calc(16.66% - 16px);
    }

    @include tablet {
      width: calc(20% - 16px);
    }

    @include phone {
      width: calc(50% - 16px);
      display: none;

      &:nth-child(-n+5) {
        display: block;
      }
    }

    &:hover {
      color: inherit;
      box-shadow: $shadow;
      border-color: transparent !important;
    }

    &.green-border-item {
      border-color: $de-york;

      &:hover {
        background: $de-york;
      }
    }

    &.red-border-item {
      border-color: $burnt-sienna;

      &:hover {
        background: $burnt-sienna;
        color: $white;
      }
    }

    &.yellow-border-item {
      border-color: $cream-can;

      &:hover {
        background: $cream-can;
      }
    }

    &.gray-border-item {
      border-color: rgba($east-bay, .33);
    }
  }
}

.see-all-link {
  border-radius: 13px;
  padding: 30px 10px;
  border: 2px solid rgba($east-bay, .33);
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
  cursor: pointer;
  @include transition(.3s);

  &:hover {
    color: inherit;
    box-shadow: $shadow;
    border-color: transparent;
  }

  .mdi {
    font-size: 30px;
    line-height: 30px;
  }
}

.search-tasty-wrapper, .search-effects-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;

  @media (max-width: 1400px) {
    margin: 0 -8px;
  }

  .see-all-link {
    width: calc(12.5% - 32px);

    @media (max-width: 1400px) {
      width: calc(14.28% - 16px);
      margin: 8px;
    }

    @include desktop {
      width: calc(16.66% - 16px);
    }

    @include tablet {
      width: calc(20% - 16px);
    }

    @include phone {
      width: calc(50% - 16px);
    }
  }
}

.search-item {
  width: calc(12.5% - 32px);
  margin: 16px;
  text-align: center;
  padding: 20px 5px;
  border-radius: 13px;
  @include transition(.3s);

  @media (max-width: 1400px) {
    width: calc(14.28% - 16px);
    margin: 8px;
  }

  @include desktop {
    width: calc(16.66% - 16px);
  }

  @include tablet {
    width: calc(20% - 16px);
  }

  @include phone {
    width: calc(50% - 16px);
    display: none;

    &:nth-child(-n+5) {
      display: block;
    }
  }

  &:hover {
    color: inherit;
    box-shadow: $shadow;
  }

  .search-item-icon {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto 8px;

    img {
      max-width: 100%;
      max-height: 100%;
      @include center(both);
    }
  }
}

.media-wrapper {
  display: flex;
  margin: 0 -57px;

  @include desktop {
    margin: 0 -16px;
  }

  @include phone {
    display: block;
    margin: 0;
  }

  .media-col {
    flex-basis: 50%;
    margin: 0 57px;

    @include desktop {
      margin: 0 16px;
    }

    @include phone {
      margin: 0 0 74px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.media-heading {
  display: flex;
  align-items: center;
  margin-bottom: 64px;

  @include phone {
    margin-bottom: 32px;
  }

  .media-icon {
    position: relative;
    margin-right: 15px;
    width: 95px;
    height: 95px;

    img {
      max-width: 100%;
      max-height: 100%;
      @include center(both);
    }
  }

  .title {
    position: relative;
  }

  .number {
    position: absolute;
    top: -25px;
    right: -45px;
  }
}

.media-item {
  display: block;
  border: 2px solid rgba($east-bay, .33);
  padding: 23px 25px;
  border-radius: 13px;
  margin-bottom: 32px;
  background: $white;
  @include transition(.3s);

  &:hover {
    box-shadow: $shadow;
    border-color: transparent;
    color: inherit;
  }

  .title {
    min-height: 44px;
  }
}

.all-media-link {
  display: flex;
  align-items: center;
  border-radius: 13px;
  padding: 15px 20px;
  border: 2px solid rgba($east-bay, .33);
  background: $white;
  @include transition(.3s);

  &:hover {
    color: inherit;
    box-shadow: $shadow;
    border-color: transparent;
  }

  .mdi {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    line-height: 31px;
    margin-right: 15px;
  }
}

.partners-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;

  @include phone {
    justify-content: space-between;
  }

  img {
    display: block;
    margin: 0 32px;
    filter: grayscale(100%);
    @include transition(.3s);

    @include phone {
      margin: 16px;
      height: 32px;
    }

    @media (max-width: 374px) {
      margin: 16px 8px;
    }

    &:hover {
      filter: grayscale(0);
    }
  }
}

.seo-wrapper {
  .title.is-1 {
    @include phone {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .title.is-2 {
    @include phone {
      font-size: 13px;
      line-height: 16px;
    }
  }
}

// Category page
.category-wrapper {
  display: flex;
}

.filters-wrapper {
  width: 370px;
  margin-right: 40px;

  @include tablet {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%;
    overflow: auto;
    height: calc(100vh - 135px);
    z-index: 100;
    padding: 16px 16px 120px;
    background: $white;
    @include transition(.3s);

    &.show {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }
}

.filter-toggle {
  display: none;

  @include tablet {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 72px;
    background: $white;
    box-shadow: $shadow;
    z-index: 10;
    padding: 14px 16px;
    border-radius: 0 0 13px 13px;

    &.active {
      img {
        &.before-open {
          display: none;
        }

        &.after-open {
          display: block;
        }
      }
    }

    img {
      margin-right: 18px;

      &.after-open {
        display: none;
      }
    }

    .title {
      flex: 1;
      text-align: right;
    }
  }
}

.filter-price {
  padding: 20px;
  margin-bottom: 20px;
}

.filter-block {
  padding: 17px 16px;
  border: 2px solid $east-bay;
  margin-bottom: 20px;
  border-radius: 13px;

  .title {
    display: block;
    cursor: pointer;
    position: relative;
    user-select: none;

    &[aria-expanded="true"] {
      .mdi {
        transform: rotate(180deg);
      }
    }

    .mdi {
      position: absolute;
      top: 2px;
      right: 0;
      font-size: 20px;
      line-height: 20px;
      color: $burnt-sienna;
      @include transition(.3s);
    }
  }
}

.filter-checkboxes-list {
  margin-top: 25px;

  .checkbox-wrapper {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.reset-filters {
  display: flex;
  align-items: center;
  cursor: pointer;

  @include tablet {
    justify-content: center;
    margin: 30px 0 0;
  }

  &:hover {
    .title {
      color: $burnt-sienna;
    }
  }

  .title {
    @include transition(.3s);
  }

  .mdi {
    font-size: 20px;
    line-height: 20px;
    color: $burnt-sienna;
    margin-right: 10px;
  }
}

.category-content {
  flex: 1;
}

.category-results {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -38px;

  @media (max-width: 1600px) {
    margin: 0 -16px;
  }

  @media (max-width: 1400px) {
    margin: 0 -8px;
  }

  .seed-card {
    margin: 0 38px 40px;
    width: calc(25% - 76px);

    @media (max-width: 1600px) {
      margin: 0 16px 40px;
      width: calc(25% - 32px);
    }

    @media (max-width: 1400px) {
      margin: 0 8px 40px;
      width: calc(33.33% - 16px);
    }

    @include desktop {
      width: calc(50% - 16px);
    }
  }
}

// Seedbank
.seedbank-title {
  @include phone {
    display: none !important;
  }

  img {
    filter: grayscale(100%);
    margin-right: 10px;
  }
}

// Specials
.special-item {
  display: block;
  margin-bottom: 64px;

  @include phone {
    margin-bottom: 16px;
  }
}

// Reviews
.reviews-wrapper {
  max-width: 1320px;
  margin: 0 auto;
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;

  @include phone {
    margin: 0;
  }
}

.review-item {
  width: calc(50% - 32px);
  margin: 16px;
  padding: 23px 25px;
  border: 2px solid rgba($east-bay, .33);
  border-radius: 13px;
  background: $white;
  height: 100%;
  cursor: pointer;
  @include transition(.3s);

  @include phone {
    width: 100%;
    margin: 0 0 32px;
  }

  &:hover {
    border-color: transparent;
    box-shadow: $shadow;
  }
}

.reviews-stars {
  .mdi {
    font-size: 23px;
    line-height: 23px;

    &.mdi-star-box {
      color: $de-york;
    }

    &.mdi-star-box-outline {
      color: rgba($east-bay, .33);
    }
  }
}

.review-answer {
  margin-bottom: 8px;

  .review-answer-img {
    width: 64px;
    height: 64px;
    margin-bottom: 8px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }

  .review-answer-text {
    display: flex;

    .mdi {
      font-size: 23px;
      line-height: 23px;
      margin-right: 10px;
    }

    p {
      margin-top: 4px;
    }
  }
}

// Contacts
.contacts-wrapper {
  max-width: 728px;
  margin: 0 auto 67px;

  @include phone {
    margin-bottom: 0;
  }
}

.contact-link {
  display: block;
  font-size: 13px;
  line-height: 22px;
}

.contact-icon {
  font-size: 30px;
  line-height: 30px;
  color: $burnt-sienna;
  margin-right: 20px;
}

.social-chat-link {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  .mdi {
    font-size: 23px;
    line-height: 23px;
    color: $east-bay;
    margin-right: 10px;
  }

  img {
    margin-right: 11px;
    margin-left: 2px;
  }
}

.write-us-form {
  margin-bottom: 80px;

  @include phone {
    margin-bottom: 48px;
  }
}

.contact-col {
  @include phone {
    max-width: 230px;
    margin: 0 auto 64px;
  }
}

// Opt
.opt-table {
  margin: 0 auto 64px;

  @include phone {
    margin: 0 auto 40px;
  }
}

// FAQ
.faq-wrapper {
  max-width: 780px;
  margin: 0 auto;
}

.accordion-item {
  padding: 20px;
  position: relative;

  @include phone {
    padding: 16px;
    margin-bottom: 16px;
  }
}

.accordion-heading {
  display: block;
  cursor: pointer;
  user-select: none;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 13px;
    background: $white;
    box-shadow: $shadow;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    @include transition(.3s);

    @include phone {
      opacity: 1;
      visibility: visible;
      background: none;
      box-shadow: none;
      border: 2px solid $east-bay;
    }
  }

  &[aria-expanded="true"] {
    &:after {
      opacity: 1;
      visibility: visible;

      @include phone {
        border-color: transparent;
        background: $white;
        box-shadow: $shadow;
      }
    }

    .mdi {
      &.acc-plus-icon {
        opacity: 0;
        visibility: hidden;
      }

      &.acc-minus-icon {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .accordion-title {
    display: block;
    position: relative;
    padding-right: 25px;
  }

  .mdi {
    position: absolute;
    top: -1px;
    right: 0;
    font-size: 25px;
    line-height: 25px;
    @include transition(.3s);

    &.acc-plus-icon {
      color: $de-york;
    }

    &.acc-minus-icon {
      opacity: 0;
      visibility: hidden;
      color: $burnt-sienna-hover;
    }
  }
}

.accordion-body {
  padding-top: 20px;
}

// 404 error
.error-text {
  margin-top: 80px;

  @include phone {
    margin-top: 50px;
  }
}

.back-link {
  display: flex;
  align-items: center;

  &:hover {
    img {
      transform: translateX(5px);
    }
  }

  img {
    @include transition(.3s);
  }
}

// Product
.product-top {
  display: flex;
  margin-bottom: 50px;

  @include tablet {
    flex-wrap: wrap;
  }

  @include phone {
    display: block;
  }
}

.product-main-info {
  flex: 1;

  @include phone {
    margin-bottom: 32px;
  }
}

.product-advantages {
  width: 320px;
  margin-left: 32px;

  @include tablet {
    width: 100%;
    margin-left: 0;
  }
}

.product-data-row {
  display: flex;
  margin-bottom: 16px;

  .product-data-label {
    width: 130px;
    margin-right: 10px;
  }

  .product-data-text {
    flex: 1;
  }
}

.advantages-block {
  padding: 32px;
  margin-bottom: 32px;
  border-radius: 13px;
  border: 1px solid $east-bay;

  &.warning {
    border-color: $burnt-sienna;
  }
}

.advantage-row {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  .advantage-icon {
    width: 48px;
    height: 48px;
    margin-right: 10px;

    img {
      max-width: 100%;
    }
  }

  .advantage-text {
    flex: 1;
  }
}

.warning-block {
  max-width: 540px;
  margin: 0 auto;

  .advantages-block {
    @include phone {
      padding: 16px;
    }

    .advantage-row {
      align-items: start;

      .advantage-icon {
        width: 64px;
        height: 64px;
      }
    }
  }
}

.add-review {
  margin-bottom: 70px;
}

// Login form
.login-wrapper {
  max-width: 645px;
  margin: 0 auto;
}

// Account
.exit-btn {
  font-size: 13px;
  line-height: 16px;
  font-weight: $font-bold;
  margin-left: 40px;

  .mdi {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    line-height: 30px;
    color: $burnt-sienna;
    margin-left: 5px;
  }
}

.confirm-email {
  max-width: 710px;
  margin: 0 auto 60px;
  border: 2px solid $cream-can;
  border-radius: 13px;
  padding: 20px;
  text-align: center;

  @include phone {
    padding: 16px;
    margin: 0 auto 40px;
  }
}

.acc-title {
  display: block;
  text-transform: uppercase;
  min-height: 44px;
  margin-bottom: 20px;

  @include phone {
    min-height: initial;
    margin-top: 20px;
  }
}

.account-menu-wrapper {
  max-width: 440px;
  margin: 0 auto;

  @include phone {
    max-width: 220px;
  }
}

.acc-main-heading {
  margin-bottom: 40px;

  @include phone {
    margin-bottom: 20px;
  }
}

.acc-link {
  display: block;
  margin-bottom: 20px;
}

.back-btn {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
  font-weight: $font-bold;
  margin-bottom: 40px;

  @include phone {
    display: none;
  }

  &:hover {
    img {
      transform: rotate(180deg) translateX(5px);
    }
  }

  img {
    transform: rotate(180deg);
    margin-right: 15px;
    @include transition(.3s);
  }
}

// Address Book
.address-book-wrapper {
  max-width: 545px;
  margin: 0 auto;
}

.address-row {
  p {
    margin-bottom: 8px;
  }
}

.address-buttons {
  text-align: right;

  @include phone {
    text-align: left;
    margin-bottom: 32px;
  }
}

.addr-checkbox {
  margin: 16px 0 40px;

  @include phone {
    margin: 16px 0;
  }
}

.add-address-btn {
  text-align: right;

  @include phone {
    text-align: left;
  }
}

// Order history
.order-table-desktop {
  @include phone {
    display: none;
  }
}
.order-table-mobile {
  display: none;

  @include phone {
    display: block;
    border-radius: 8px;
    border: 2px solid $east-bay;
    position: relative;
  }

  .table-fixed-nav {
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 8px 0 0 8px;
    width: 120px;
    height: calc(100% + 2px);
    background: $east-bay;
    text-align: right;
    padding: 25px 18px;

    p {
      min-height: 48px;
      margin-bottom: 10px;
    }
  }

  .table-scroll-block {
    padding-left: 120px;

    .table-scroll-wrapper-cols {
      overflow: auto;
      width: 100%;
      display: flex;
      padding-left: 30px;
    }

    .table-scroll-col {
      padding: 24px 20px 24px 0;
      min-width: 130px;

      .mdi {
        font-size: 30px;
        line-height: 30px;
      }

      p {
        min-height: 48px;
        margin-bottom: 10px;
      }
    }
  }
}

.table-scroll-empty {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Returns product
.returns-block {
  margin-bottom: 64px;

  .radio-wrapper {
    @include phone {
      max-width: 290px;
      margin: 0 auto 20px;
    }
  }
}

.remove-btn {
  @include phone {
    font-size: 0;
    height: 48px;
    padding: 8px 20px;

    .mdi {
      margin: 0;
      line-height: 34px;
    }
  }
}